.letters-container {
    /* width: 700px;
    height: 35px; */
    color: whitesmoke;
}

.letters-container button {
    color: whitesmoke;
    background: transparent;
    border: 0px;
    outline: none;
}
.letters-container button:hover {
   cursor: pointer;
   border-bottom: 1px solid white;
}